<a href="https://colab.research.google.com/github/hongjae6/ML_DL/blob/main/Monthly_Dacon_20220418.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!unzip /content/drive/MyDrive/DACON/소득예측경진대회.zip

Archive:  /content/drive/MyDrive/DACON/소득예측경진대회.zip
  inflating: ╝╥╡ц┐╣├°░ц┴°┤ы╚╕/sample_submission.csv
  inflating: ╝╥╡ц┐╣├°░ц┴°┤ы╚╕/test.csv
  inflating: ╝╥╡ц┐╣├°░ц┴°┤ы╚╕/train.csv

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('/content/╝╥╡ц┐╣├°░ц┴°┤ы╚╕/train.csv')
test = pd.read_csv('/content/╝╥╡ц┐╣├°░ц┴°┤ы╚╕/test.csv')
sample_submission = pd.read_csv('/content/╝╥╡ц┐╣├°░ц┴°┤ы╚╕/sample_submission.csv')

In [4]:
train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,0,32,Private,309513,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
1,1,33,Private,205469,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,2,46,Private,149949,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,3,23,Private,193090,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
4,4,55,Private,60193,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0

In [5]:
test.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,0,47,Private,304133,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
1,1,34,Self-emp-inc,154227,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,75,United-States
2,2,31,Local-gov,158291,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,8614,0,40,United-States
3,3,28,Private,183155,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States
4,4,54,Local-gov,182543,Some-college,10,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,Mexico

In [6]:
sample_submission.head()

   id  target
0   0       0
1   1       0
2   2       0
3   3       0
4   4       0

In [7]:
train_X = train.drop(['id', 'target'], axis = 1)
train_y = train.target

test_X = test.drop(['id'], axis = 1)

In [8]:
df = pd.concat([train_X, test_X])

In [9]:
dummies_df = pd.get_dummies(df)

In [10]:
train_X = dummies_df.iloc[:17480]
test_X = dummies_df.iloc[17480:]

In [11]:
import xgboost as xgb

In [12]:
model = xgb.XGBRFClassifier(verbose = True)

In [13]:
model.fit(train_X, train_y)

XGBRFClassifier(verbose=True)

In [14]:
pred = model.predict(test_X)

In [15]:
sample_submission.target = pred

In [16]:
sample_submission.to_csv('submission.csv', index = False)