<a href="https://colab.research.google.com/github/hongjae6/ML_DL/blob/main/Monthly_Dacon_20220418.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!unzip /content/drive/MyDrive/DACON/소득예측경진대회.zip

Archive:  /content/drive/MyDrive/DACON/소득예측경진대회.zip
  inflating: ╝╥╡ц┐╣├°░ц┴°┤ы╚╕/sample_submission.csv
  inflating: ╝╥╡ц┐╣├°░ц┴°┤ы╚╕/test.csv
  inflating: ╝╥╡ц┐╣├°░ц┴°┤ы╚╕/train.csv

In [2]:
import pandas as pd

In [19]:
train = pd.read_csv('/content/╝╥╡ц┐╣├°░ц┴°┤ы╚╕/train.csv')
test = pd.read_csv('/content/╝╥╡ц┐╣├°░ц┴°┤ы╚╕/test.csv')
sample_submission = pd.read_csv('/content/╝╥╡ц┐╣├°░ц┴°┤ы╚╕/sample_submission.csv')

In [24]:
train_X = train.drop(['id', 'target'], axis = 1)
train_y = train.target

test_X = test.drop(['id'], axis = 1)

In [35]:
train_X.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,32,Private,309513,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
1,33,Private,205469,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
2,46,Private,149949,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
3,23,Private,193090,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States
4,55,Private,60193,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States

In [41]:
dummies_df.iloc[:1]

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,32,309513,12,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [26]:
df = pd.concat([train_X, test_X])

In [28]:
dummies_df = pd.get_dummies(df)

In [42]:
train_X = dummies_df.iloc[:17480]
test_X = dummies_df.iloc[17480:]

In [43]:
import xgboost as xgb

In [44]:
model = xgb.XGBRFClassifier(verbose = True)

In [45]:
model.fit(train_X, train_y)

XGBRFClassifier(verbose=True)

In [46]:
pred = model.predict(test_X)

In [49]:
sample_submission.target = pred

In [52]:
sample_submission.to_csv('submission.csv', index = False)